@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap%27);");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #0F1A3A; 
    color: white;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: white;
    font-weight: 800;
    transition: 0.5s ease;
    position: absolute;

}

nav {
    box-shadow: 100%;
    z-index: 2;
    margin-left: auto;
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover, nav a.active {
    color: white;
    border-bottom: 3px solid white;
}

@media(max-width:995px){
    body{
        overflow-x: hidden;
    }

    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #3B82F6;
        border-bottom: 3px solid #3B82F6;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #0F1A3A  ;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #3B82F6;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
